# ROS 2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.venv/
env/
*.env

# Colcon
.colcon/

# Misc
*.swp
*.swo

# Runtime dumps
runs/

# PX4 runtime
dataman
eeprom/
parameters.bson
parameters_backup.bson
src/px4_msgs/
