<?xml version="1.0"?>
<model>
  <name>Gemini_2L</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Buğra</name>
    <email>bugrakallat@gmail.com</email>
  </author>

  <description>
    Orbbec Gemini 2L stereo/depth camera model for Gazebo simulation.
    Includes RGB camera, left/right IR cameras, depth camera, and optional IMU.
  </description>
</model>